fastapi
uvicorn
twilio
openai
python-decouple
sqlalchemy
psycopg2-binary
python-multipart
pyngrok
langchain
ctransformers
pypdf
python-dotenv
llama-cpp-python
llama-index
sentence-transformers
llama-index-embeddings-huggingface
llama-index-llms-llama-cpp
llama-index-embeddings-langchain
PyGithub